%h1 Listing staffs

%table.table
  %tr
    %th Type
    %th Name
    %th College
    %th Year
    %th Email
    %th Phone
    %th Past experience
    %th Reason for hire
    %th
    %th
    %th

  - @staffs.each do |staff|
    %tr
      %td= staff.type.titleize
      %td= staff.name
      %td= truncate staff.college
      %td= staff.year
      %td= staff.email
      %td= staff.phone
      %td= truncate staff.past_experience
      %td= truncate staff.why_hire
      %td= link_to 'Show', staff, class: "btn btn-info btn-sm"
      %td= link_to 'Edit', edit_staff_path(staff), class: "btn btn-warning btn-sm"
      %td= link_to 'Destroy', staff, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm"

%br

= link_to 'New Staff', new_staff_path, class: "btn btn-primary btn-sm"
