- if notice
  #notice.alert.alert-info
    %button(type="button" class="close" data-dismiss="alert" aria-hidden="true") X
    %strong Congratulations!
    = notice

.well.form-horizontal
  %legend
    %h1 Intern Details
  .form-group
    %label.col-sm-2.control-label Internship Type:
    .col-sm-10
      .form-control-static= @staff.type.titleize
  .form-group
    %label.col-sm-2.control-label Name:
    .col-sm-10
      .form-control-static= @staff.name
  .form-group
    %label.col-sm-2.control-label College:
    .col-sm-10
      .form-control-static= @staff.college
  .form-group
    %label.col-sm-2.control-label Year:
    .col-sm-10
      .form-control-static= @staff.year
  .form-group
    %label.col-sm-2.control-label Email:
    .col-sm-10
      .form-control-static= @staff.email
  .form-group
    %label.col-sm-2.control-label Phone no.:
    .col-sm-10
      .form-control-static= @staff.phone
  .form-group
    %label.col-sm-2.control-label Past experience:
    .col-sm-10
      .form-control-static= @staff.past_experience
  .form-group
    %label.col-sm-2.control-label Why should we hire you?
    .col-sm-10
      .form-control-static= @staff.why_hire

  %hr/
  .form-group
    .col-sm-2
    .col-sm-10
      - if can? :edit, :staff
        = link_to 'Edit', edit_staff_path(@staff), class: "btn btn-warning"
      = link_to 'Back', staffs_path, class: "btn btn-info"
