.form-horizontal
  = form_for @pcmb do |f|
    - if @pcmb.errors.any?
      #error_explanation.alert.alert-danger
        %button(type="button" class="close" data-dismiss="alert" aria-hidden="true") X
        %h2= "#{pluralize(@pcmb.errors.count, "error")} prohibited this test entry from being saved:"
        %ol
          - @pcmb.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :full_name, class: "control-label col-sm-2"
      .col-sm-10
        = f.text_field :full_name, class: "form-control"
    .form-group
      = f.label :district, class: "control-label col-sm-2"
      .col-sm-10
        = f.text_field :district, class: "form-control"
    .form-group
      = f.label :school_name, class: "control-label col-sm-2"
      .col-sm-10
        = f.text_field :school_name, class: "form-control"
    .form-group
      = f.label :school_address, class: "control-label col-sm-2"
      .col-sm-10
        = f.text_area :school_address, class: "form-control"
    .form-group
      = f.label :year, class: "control-label col-sm-2"
      .col-sm-10
        = f.number_field :year, class: "form-control"
    .form-group
      = f.label :date_of_birth, class: "control-label col-sm-2"
      .col-sm-10
        = f.date_select :date_of_birth, { start_year: 1995, end_year: 2008, order: [:day, :month, :year], prompt: { day: "Select day", month: "Select month", year: "Select year" } }, { class: "form-control", style: "float: left; width: 30%; min-width: 30%; max-width: 30%; margin-right: 1%;" }
    .form-group
      = f.label :gender, class: "control-label col-sm-2"
      .col-sm-3
        = f.select :gender, ["Male","Female"], { include_blank: "Select gender" }, class: "form-control"
    .form-group
      = f.label :mobile_number, class: "control-label col-sm-2"
      .col-sm-10
        = f.number_field :mobile_number, class: "form-control"
    .form-group
      = f.label :email, class: "control-label col-sm-2"
      .col-sm-10
        = f.text_field :email, class: "form-control"
    .form-group
      .col-sm-2
      .col-sm-10
        = f.submit "Submit form", class: "btn btn-primary"
        = link_to "Back", :back, class: "btn btn-default"
