.form-horizontal
  = form_for @school do |f|
    - if @school.errors.any?
      #error_explanation.alert.alert-danger
        %h2= "#{pluralize(@school.errors.count, "error")} prohibited this school from being saved:"
        %ol
          - @school.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :name_of_school, class: "control-label col-sm-2"
      .col-sm-10
        = f.text_field :name_of_school, class: "form-control"
    .form-group
      = f.label :principal_name, "Principal's name", class: "control-label col-sm-2"
      .col-sm-10
        = f.text_field :principal_name, class: "form-control"
    .form-group
      = f.label :type, "School type", class: "control-label col-sm-2"
      .col-sm-3
        = f.select :type, ["Co-Ed","Boys","Girls"], { include_blank: "Select school type" }, class: "form-control"
    .form-group
      = f.label :place, class: "control-label col-sm-2"
      .col-sm-3
        = f.select :place, Location.all.collect { |x| [x.place] }, { include_blank: "Select Location" }, class: "form-control"
    .form-group
      = f.label :affiliated_to, class: "control-label col-sm-2"
      .col-sm-10
        = f.text_field :affiliated_to, class: "form-control"
    .form-group
      = f.label :email, class: "control-label col-sm-2"
      .col-sm-10
        = f.email_field :email, class: "form-control"
    .form-group
      = f.label :phone_no, class: "control-label col-sm-2"
      .col-sm-10
        = f.phone_field :phone_no, class: "form-control"
    .form-group
      .col-sm-2
      .col-sm-10
        = f.submit 'Join!', class: "btn btn-primary"
        = link_to 'Back', :back, class: "btn btn-default"

