.well
  %legend
    %h1 Our Team
  
  %legend
    %h3 Overall Coordinator
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %br/
        %img.img-circle(src="#{asset_path('team_praveen_kumar.jpg')}" style="width:80%;")
        .caption
          %h3 
            Praveen Kumar
            %small IIT Delhi
          %p +91 7503340203
          %p
            = link_to "Facebook", "https://www.facebook.com/praveenkumarbhagat001", class: "btn btn-primary", target: "_blank"
            
    .col-sm-6.col-md-4
      .thumbnail
        %br/
        %img.img-circle(src="#{asset_path('team_naveen_kumar.jpg')}" style="width:80%;")
        .caption
          %h3 
            Naveen Kumar
            %small IIT Delhi
          %p +91 8527068148
          %p
            = link_to "Facebook", "https://www.facebook.com/profile.php?id=100002152833000", class: "btn btn-primary", target: "_blank"
  
  %legend
    %h3 Publicity Coordinator
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %br/
        %img.img-circle(src="#{asset_path('team_sandeep_aggrawal.jpg')}" style="width:80%;")
        .caption
          %h3 
            Sandeep Aggarwal
            %small IIT Delhi
          %p +91 8826713440
          %p
            = link_to "Facebook", "https://www.facebook.com/sandeep.aggarwal.338", class: "btn btn-primary", target: "_blank"
  
  %legend
    %h3 Design Team
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %br/
        %img.img-circle(src="#{asset_path('team_aryaman_nath.jpg')}" style="width:80%;")
        .caption
          %h3
            Aryaman Nath
            %small IIT Delhi
          %p +91 9818986024
          %p= link_to "Facebook", "https://www.facebook.com/aryaman.wizard", class: "btn btn-primary", target: "_blank"

    .col-sm-6.col-md-4
      .thumbnail
        %br/
        %img.img-circle(src="#{asset_path('team_akanksha_negi.jpg')}" style="width:80%;")
        .caption
          %h3 
            Akanksha Negi
            %small IIT Delhi
          %p +91 9873035088
          %p= link_to "Facebook", "https://www.facebook.com/akanshan3", class: "btn btn-primary", target: "_blank"
  
  %legend
    %h3 Website Team
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %br/
        %img.img-circle(src="#{asset_path('team_praveen_kumar.jpg')}" style="width:80%;")
        .caption
          %h3 
            Pranjal Nadhani
            %small RIT Roorkee
          %p +91 8755521930
          %p
            = link_to "Facebook", "https://www.facebook.com/PranjalNC", class: "btn btn-primary", target: "_blank"
  
  %legend
    %h3 Marketing Team
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %br/
        %img.img-circle(src="#{asset_path('team_ritika_meena.jpg')}" style="width:80%;")
        .caption
          %h3
            Ritika Meena
            %small IIT Delhi
          %p +91 8802793507
          %p
            = link_to "Facebook", "https://www.facebook.com/kewl.ritika", class: "btn btn-primary", target: "_blank"
  
  %legend
    %h3 Infrastructure Team
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %br/
        %img.img-circle(src="#{asset_path('team_abhishek_kumar.jpg')}" style="width:80%;")
        .caption
          %h3
            Abhishek Kumar
            %small IIT Delhi
          %p +91 9555594223
          %p
            = link_to "Facebook", "https://www.facebook.com/abhishek.aarush", class: "btn btn-primary", target: "_blank"

